@font-face {
  font-family: "DIN";
  src: url('/assets/css/DIN.ttf');
}

html ,
body {
  background: #000;
  text-align: center;
  font-family: 'DIN', arial, serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}

div.container {
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  vertical-align: middle;
  /*color: #fff;*/
}

a {
  /*color: #ff00ff;*/
  text-decoration: none;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:50%;
  position: relative;
}
.left {
  float: left;
}

.navbar .divider-vertical {margin: 0}
.navbar .nav > li > a {padding: 10px 23px 11px 20px;}

.clear-navbar {
  margin-top: 60px;
}
.row {
  margin-left: -20px;
}